<body class="a"  x-data="{ openEventModal:false, currentPayment:'cash' }">
  <div class="b">
    <!-- Side bar -->
    <div class="c">
      <div class="d">
        <div class="e">
             <img src="/images/image.png" alt="" class="f">
        </div>
        <div class="e">
          <img src="/images/Sell.jpg" alt="" class="f" a href="Food" class="j1"></a>
        </div>
        <div class="e">
            <a href="">
          <img src="/images/sales.jpg" alt="" class="f" >
            </a>
        </div>  
        <div class="e">
            <a href="">
          <img src="/images/package 1.jpg" alt="" class="f" a href="sales" class =>
            </a>
        </div>
        <div class="e">
            <a href="">
          <img src="/images/user.jpg" alt="" class="f">
            </a>
     </div>
  
      </div>
    </div>
    <div class="g">
      <!-- Search bar -->
      <input type="text" name="search" id="" placeholder=" search product by name or barcode number" class="h">
      <p class="i">CATEGORIES</p>
      <diV class="j">
        <a href="Food" class="j1"><span class="j4"><img src="/images/Fire.jpg" alt="" class="f">Food</span></a>
          <a href="Desert" class="j1"><span class="j4">Desert</span></a>
          <a href="Beverage" class="j1"><span class="j4">Beverage</span></a>
          <a href="Alcohol" class="j1"><span class="j4">Alcohol</span></a>
          <a href="" class="j2"><img src="/images/Settings.jpg"class="j3"alt=""></a>
      </diV>
         <div  class="k"></div>
     </div>
    {{!-- this is the cart --}}
    {{!-- start of in -page cart --}}
    <div class="l col-span-4">
        <div class="m">
            <div class="m1">
                <p class="m2">Carts</p>
                <button class="m3"> <img src="/images/Customer.jpg" alt="" class="m4"><span class="m5"> Add customers</span></button>
            </div> 
        </div>
        <div class="n">
            <div class="n1">
                <p class="n5">4  Items Selected</p>
                <div class="n2">
                    <p class="n3">Clear cart</p>
                    <img src="/images/Delete.jpg" alt="" class="n4">
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <!-- Checkout button -->
            <div>
                <button class="r mt-5" @click="openEventModal = true"><span>Checkout</span><span>→</span></button>
            </div>
        </div>
    </div>
    {{!-- end of in-page cart --}}
  </div>
<div class="a relative">
                            <!-- Modal -->
<!-- Backdrop begin -->
<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on slide-over state.

    Entering: "ease-in-out duration-500"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in-out duration-500"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" x-show="openEventModal"></div>

  <div class="fixed inset-0 overflow-hidden" x-show="openEventModal">
    <div class="absolute inset-0 overflow-hidden">
      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div class="pointer-events-auto relative w-screen max-w-3xl">
          <!--
            Close button, show/hide based on slide-over state.

            Entering: "ease-in-out duration-500"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in-out duration-500"
              From: "opacity-100"
              To: "opacity-0"
          -->
          

          <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl" x-show="openEventModal" @click.away="openEventModal = false">
            <div class="px-4 sm:px-6 flex items-center justify-between bg-purple-700 pt-16 pb-3">
              <!-- chart header -->
              <div class="m">
                  <div class="m1">
                      <p class="m2">Carts</p>
                      <button class="m3"> <img src="/images/Customer.jpg" alt="" class="m4"><span class="m5"> Add customers</span></button>
                  </div> 
              </div>
              <h2 class="text-2xl font-semibold leading-6 text-white" id="slide-over-title">Checkout</h2>
              <div class="">
                <a role="button" @click="openEventModal = false">
                  <span class="sr-only">Close panel</span>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 5L5 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5 5L15 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="relative mt-6 flex-1 flex gap-4 px-4 sm:px-6">
                  {{!-- this is the cart --}}
              <div class="l">
                  <!-- selected items -->
                  <div class="n">
                      <div class="n1">
                          <p class="n5">4  Items Selected</p>
                          <div class="n2">
                              <p class="n3">Clear cart</p>
                              <img src="/images/Delete.jpg" alt="" class="n4">
                          </div>
                      </div>
                      <div class="p">
                          <div class="p1">
                              <p class="p2">CHIPS LARGE</p>
                              <div>
                                  <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                                  <p class="p7">remove</p>
                              </div>
                          </div>
                      </div>
                      <div class="p">
                          <div class="p1">
                              <p class="p2">CHIPS LARGE</p>
                              <div>
                                  <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                                  <p class="p7">remove</p>
                              </div>
                          </div>
                      </div>
                      <div class="p">
                          <div class="p1">
                              <p class="p2">CHIPS LARGE</p>
                              <div>
                                  <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                                  <p class="p7">remove</p>
                              </div>
                          </div>
                      </div>
                      <div class="p">
                          <div class="p1">
                              <p class="p2">CHIPS LARGE</p>
                              <div>
                                  <button class="p3"> <img src="/images/Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="/images/Remove.jpg" alt="" class="p6"></button>
                                  <p class="p7">remove</p>
                              </div>
                          </div>
                      </div>
                      <!-- Sale Summary -->
                      <div class="q1">
                          <p class="q2">Sale Summary</p>
                          <table width="100%">
                              <tr>
                                  <td>
                                      <table width="100%">
                                          <tr>
                                              <td class="q3">
                                                  <p>Subtotal</p>
                                                  <p>Discounts</p>
                                                  <p>Total Tax</p>
                                                  <p class="q4">Total</p>
                                              </td>
                                              <td  class="q5">
                                                  <p>Kes 1,503</p>
                                                  <p>Kes 0</p>
                                                  <p>Kes 172</p>
                                                  <p class="q6">Kes 1675</p>
                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                      </div>

                  </div>
              </div>
              <div>
              <!-- Your content -->
              <div class="flex flex-col w-full mb-10">
                <div class="flex items-center justify-between w-full py-2 border-b text-gray-400">
                  <span>Number of Items</span>
                  <span>5</span>
                </div>
                <div class="flex items-center justify-between w-full py-2 border-b">
                  <span>Subtotal</span>
                  <span>Kes 1,503</span>
                </div>
                <div class="flex items-center justify-between w-full py-2 border-b">
                  <span>Discounts</span>
                  <span>Kes 0</span>
                </div>
                <div class="flex items-center justify-between w-full py-2 border-b">
                  <span>Total Tax</span>
                  <span>Kes 171</span>
                </div>
                <div class="flex items-center justify-between w-full pt-2 font-bold text-xl">
                  <span>Total</span>
                  <span>Kes 1675</span>
                </div>
              </div>
              {{!-- payment options --}}
              <div class="flex flex-col" x-data="{paymentMethod:'', paymentMode:false}">
                <h6 class="mb-5">Select Payment</h6>
                <div class="flex flex-col space-y-2 pb-5" x-show="paymentMode === false && paymentMethod === ''">
                  <button class="flex items-center justify-between rounded-full py-2 px-4 outline-none" x-bind:class="paymentMethod === 'cash' ? 'bg-purple-700': 'border border-black text-black'" @click="()=> {paymentMethod = 'cash';paymentMode = true}">
                    <span class="text-white font-semibold"><a href="cash">Cash</a></span>
                    <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 8.5L24 8.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M17 1.5L24 8.5L17 15.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <button class="flex items-center justify-between rounded-full py-2 px-4 outline-none" x-bind:class="paymentMethod === 'mpesa' ? 'bg-purple-700': 'border border-black text-black'" @click="()=> {paymentMethod = 'mpesa';paymentMode = true}">
                    <span class="text-white font-semibold"><a href="Mpesa">Mpesa</a></span>
                    <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 8.5L24 8.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M17 1.5L24 8.5L17 15.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <button class="flex items-center justify-between rounded-full py-2 px-4 outline-none" x-bind:class="paymentMethod === 'voucher' ? 'bg-purple-700': 'border border-black text-black'" @click="()=> {paymentMethod = 'voucher';paymentMode = true}">
                    <span class="text-white font-semibold"><a href="Voucher">Voucher</a></span>
                    <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 8.5L24 8.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M17 1.5L24 8.5L17 15.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <button class="flex items-center justify-between rounded-full py-2 px-4 outline-none" x-bind:class="paymentMethod === 'credit' ? 'bg-purple-700': 'border border-black text-black'" @click="()=> {paymentMethod = 'credit';paymentMode = true}">
                    <span class="text-white font-semibold"><a href="Card">Card</a></span>
                    <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 8.5L24 8.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M17 1.5L24 8.5L17 15.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <button class="flex items-center justify-between rounded-full py-2 px-4 outline-none" x-bind:class="paymentMethod === 'zawadi' ? 'bg-purple-700': 'border border-black text-black'" @click="()=> {paymentMethod = 'zawadi';paymentMode = true}">
                    <span class="text-white font-semibold"><a href="Zawadi Points">Zawadi Points</a></span>
                    <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 8.5L24 8.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M17 1.5L24 8.5L17 15.5" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
                </div>
              </div>
              </div>

            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</body>

 {{#if includeScript}}
  <script src="/js/main.js" type="text/javascript" ></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  {{/if}}
   