<body>
    <div class="flex">
    <div class="">
    <!-- Side bar -->
    <div class="c">
      <div class="h-screen flex flex-col items-center pt-28 w-10 bg-white">
        <div class="e">
             <img src="Group 1091.svg" alt="" class="f">
        </div>
        <div class="e">
          <img src="Sell.jpg" alt="" class="f" a href="Categories" class="j1"></a>
        </div>
        <div class="e">
            <a href="">
          <img src="/images/sales.jpg" alt="" class="f">
            </a>
        </div>  
        <div class="e">
            <a href="">
          <img src="/images/package 1.jpg" alt="" class="f">
            </a>
        </div>
        <div class="e">
            <a href="">
          <img src="/images/user.jpg" alt="" class="f">
            </a>
        </div>
  
      </div>
    </div>
    </div>
    <div class="flex-1 bg-gray-100">
        
            <div class="flex flex-col pb-6 mb-6 border-b p-8 bg-purple-600 text-white">
                <h1 class="text-3xl font-semibold mb-3">Create a new customer</h1>
                <span class="text-slate-600 text-sm">Craft the details for a new customer</span>
            </div>

            <div class="max-w-3xl mx-auto">
            {{!-- start of form --}}
                <div class="border-b border-gray-900/10 pb-12 p-8">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
          <div class="mt-2">
            <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
          <div class="mt-2">
            <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone number</label>
          <div class="mt-2">
            <input id="phone" name="phone" type="tel" autocomplete="phone" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="sm:col-span-4">
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>

       

       

        
      </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="button" class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-purple-600 shadow-sm hover:text-purple-600/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cancel</button>
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
  </div>
                </div>
            {{!-- end of form --}}
            </div>
    </div>
    </div>
</body>
{{#if includeScript}}
    {{! <script type="module" src="/js/alpine.js" type="text/javascript" ></script> }}
    <script
        defer
        src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
    ></script>
{{/if}}