<body class="a">
  <div class="b">
    <!-- Side bar -->
    <div class="c">
      <div class="d">
        <div class="e">
             <img src="Group 1091.svg" alt="" class="f">
        </div>
        <div class="e">
          <img src="Sell.jpg" alt="" class="f" a href="Categories" class="j1"></a>
        </div>
        <div class="e">
            <a href="">
          <img src="/images/sales.jpg" alt="" class="f">
            </a>
        </div>  
        <div class="e">
            <a href="">
          <img src="/images/package 1.jpg" alt="" class="f">
            </a>
        </div>
        <div class="e">
            <a href="">
          <img src="/images/user.jpg" alt="" class="f">
            </a>
     </div>
  
      </div>
    </div>
    <div class="g">
      <!-- Search bar -->
      <input type="text" name="search" id="" placeholder=" search product by name or barcode number" class="h">
      <p class="i">CATEGORIES</p>
      <diV class="j">
        <a href="Food" class="j1"><span class="j4">Food</span></a>
          <a href="Desert" class="j1"><span class="j4">Desert</span></a>
          <a href="Beverage" class="j1"><span class="j4">Beverage</span></a>
          <a href="Alcohol" class="j1"><span class="j4">Alcohol</span></a>
          <a href="" class="j2"><img src="Settings.jpg"class="j3"alt=""></a>
      </diV>
      <div  class="k">
       
      </div>
    
     
    </div>

    {{!-- this is the cart --}}
    <div class="l">
        <div class="m">
            <div class="m1">
                <p class="m2">Carts</p>
                <button class="m3"> <img src="/images/Customer.jpg" alt="" class="m4"><span class="m5"> Add customers</span></button>
            </div> 
        </div>
        <div class="n">
            <div class="n1">
                <p class="n5">4  Items Selected</p>
                <div class="n2">
                    <p class="n3">Clear cart</p>
                    <img src="Delete.jpg" alt="" class="n4">
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <div class="p">
                <div class="p1">
                    <p class="p2">CHIPS LARGE</p>
                    <div>
                        <button class="p3"> <img src="Add.jpg" alt="" class="p4"><span class="p5">2</span><img src="Remove.jpg" alt="" class="p6"></button>
                        <p class="p7">remove</p>
                    </div>
                </div>
            </div>
            <!-- Sale Summary -->
            <div class="q1">
                <p class="q2">Sale Summary</p>
                <table width="100%">
                    <tr>
                        <td>
                            <table width="100%">
                                <tr>
                                    <td class="q3">
                                        <p>Subtotal</p>
                                        <p>Discounts</p>
                                        <p>Total Tax</p>
                                        <p class="q4">Total</p>
                                    </td>
                                    <td  class="q5">
                                        <p>Kes 1,503</p>
                                        <p>Kes 0</p>
                                        <p>Kes 172</p>
                                        <p class="q6">Kes 1675</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Checkout button -->
            <div>
                <button class="r"><span>Checkout</span><span>→</span></button>
            </div>
        </div>
    </div>
  </div>
</body>

 {{#if includeScript}}
  <script src="/js/products.js" type="text/javascript" ></script>
  {{/if}}
