<body>
    <div class='flex flex-col pb-6 mb-6 border-b p-8 bg-purple-600 text-white'>
        <h1 class='text-3xl font-semibold mb-3'>Our Gallery</h1>
        <span class='text-slate-600 text-sm'>What we offer at a glance!</span>
        <a
            role='button'
            href='/'
            class='flex items-center space-x-3 block mt-5'
        >

            <svg
                class='text-white'
                xmlns='http://www.w3.org/2000/svg'
                width='1em'
                height='1em'
                viewBox='0 0 2048 2048'
            ><path
                    fill='currentColor'
                    d='M2048 1088H250l787 787l-90 90L6 1024L947 83l90 90l-787 787h1798z'
                /></svg>
            <span class=''>Home</span>
        </a>
    </div>
    <div class='max-w-6xl mx-auto'>
        <div class='grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 my-8'>

            <img
                src='https://images.pexels.com/photos/3625372/pexels-photo-3625372.jpeg?auto=compress&cs=tinysrgb&w=600'
                alt='food image'
                class='rounded-xl shadow-lg object-cover bg-center w-full'
            />

            <img
                src='https://images.pexels.com/photos/115740/pexels-photo-115740.jpeg?auto=compress&cs=tinysrgb&w=600'
                alt='food image'
                class='rounded-xl shadow-lg object-cover bg-center w-full h-auto'
            />

            <img
                src='https://images.pexels.com/photos/60616/fried-chicken-chicken-fried-crunchy-60616.jpeg?auto=compress&cs=tinysrgb&w=600'
                alt='food image'
                class='rounded-xl shadow-lg w-full h-auto'
            />

            <img
                src='https://media.istockphoto.com/id/618764348/photo/famous-asian-flat-bread-known-as-parathas.jpg?b=1&s=612x612&w=0&k=20&c=5jg2MlaVEdXyrID25IzsJIg_YepsSUT_xcsuZsTLpnc='
                alt='food image'
                class='rounded-xl shadow-lg object-cover bg-center w-full'
            />

            <img
                src='https://images.pexels.com/photos/2338407/pexels-photo-2338407.jpeg?auto=compress&cs=tinysrgb&w=600'
                alt='food image'
                class='rounded-xl shadow-lg object-cover bg-center w-full h-auto'
            />
            <img
                src='https://images.pexels.com/photos/3650438/pexels-photo-3650438.jpeg?auto=compress&cs=tinysrgb&w=600'
                alt='food image'
                class='rounded-xl shadow-lg object-cover bg-center w-full h-auto'
            />
        </div>
    </div>
</body>