  <div class="parent">
      <div class="left">

      </div>

      <div class="right">
       <p class="reg-title">Welcome to<button>Muuzo</button></p>
        <p class="description">
          We've noticed you're logging in to this device for the First time.You'll need to set the POS to a location
        </p></br>
        <p class="prompt-message">
          Enter Code</br>
          A code wil be sent to Email
        </p>
      <div  class="OTP"></br>
       <input id="otp" type="number" >
       
      </div>
      </br>
        <!-- Flow -->
        <div>
        </div></br>
         <div class="wording">
            <p class="words">
           <p class="P1">
            <button id="otpForm">Next</button></p>
            </p> 
         </div>
      </div>
    </div>
  
  {{#if includeScript}}
  <script src="/js/otpVerify.js" type="text/javascript" ></script>
  {{/if}}


