  <div class="parent">
      <div class="left">

      </div>

      <div class="right">
       <p class="reg-title">Welcome to<button>Muuzo</button></p>
        <p class="description">
          We've noticed you're logging in to this device for the First time.You'll need to set the POS to a location
        </p></br>
        <p class="prompt-message">
          Enter Code</br>
          A code wil be sent to Email
        </p>
      <div class="OTP"></br>
       <input type="text"  maxlength="1">
       <input type="text"  maxlength="1">
       <input type="text"  maxlength="1">
       <input type="text"  maxlength="1">
       <input type="text"  maxlength="1">
       <input type="text"  maxlength="1">
      </div></br>
        <!-- Flow -->
        <div>
        </div></br>
         <div class="wording">
            <p class="words">
           <a>Code Expired Resend Code</a>
           <a class="P1"href="/select-outlet.html"><button>Next</button></a>
            </p> 
      </div>
    </div>
  
  {{#if includeScript}}
  <script src="/js/main.js" type="text/javascript" ></script>
  {{/if}}


