 <div class="parent">
      <div class="left">

      </div>

      <div class="right">

        <form id="myForm">

        <p class="reg-title">Register</p>
        <div class="Name" >
            <div class="FirstName">
              <label for="FirstName">First Name</label>
              <input type="text" id="FirstName" placeholder="First Name" class="T1"/><br/>
            </div>
            <div class="LastName">
              <label for="LastName">Last Name</label>
              <input type="text" id="LastName" placeholder="Last Name" class="T2"/>
          </div>
        </div>
        <!-- Flow -->
        <div>
          <div class="PhoneNumber">
            <label for="PhoneNumber">Phone Number</label>
            <input type="text" id="PhoneNumber" placeholder="Phone Number" class="T3"/><br/>
          </div>
        </div>
        <!-- Flow -->
        <div>
          <div class="EmailAddress">
            <label for="EmailAddress">Email Address (Optional)</label>
            <input type="text" id="EmailAddress" placeholder="Email Address" class="T4"/><br/>
          </div>
        </div>
        <div>
          <div class="CreatePassword">
            <label for="CreatePassword"><span class="alignleft">Create Password</span><span class="alignright">strength</span></label>
            <div id="textbox">
           <div style="clear: both;"></div>
           <input type="password" id="password" placeholder="******" placeholder="Show Password" class="T5"/><br/>
           <div class="passwordStrength" id="strength" >A strong password has 8 or more characters with a mix of letters, numbers & symbols</div>
           <div  id="password" class="pass">
           </div>
          </div>
        </div>
        <div class="ConfirmPassword">
          <label for="ConfirmPassword">Confirm Password </label>
          <input type="password" id="ConfirmPassword" placeholder="Confirm Password" class="T6"/><br/>
        </div>
          <div class="Footer">
            <p class="terms">
           <a  href="/sign-in">  Sign In Instead</a> 
            </p>
             <p class="B1">
             <button class="B2" ><button>Next</button></button><br/>
             </p>
            </div>
        </form>
       
              </div>


  {{#if includeScript}}
  <script src="/js/main.js" type="text/javascript" ></script>
  {{/if}}