<div class="about" >
    <header>
        <nav class="navbar">
            <a href="#" class="logo">MUUZO.<span></span></a>
            <div class="main">
                <ul class="menu-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/sign-in">Sign in</a></li>
                </ul>
                <span class="material-symbols-outlined"></span>
            </div>
        </nav>
    </header>

    <section class="hero-section about">
        <div class="content">
            <h1>Serve better with a flexible platform</h1>
            <p>
                Muuzo POS system is your one-stop shop for order management, fast payments and precise data. See what's selling best, make smarter choices and boost your income – while rewarding loyal customers.
            </p>
    </section>
</div>